<div class="container">
    <div class="row">
        <div class="col-10 mt-3 offset-1">
            <div class="p-2">
                <form>
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1 lime-border" style="border-color:cornflowerblue"
                            type="text" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                style="border-color:cornflowerblue ; background-color: cornflowerblue;">
                                <fa-icon style="color:white" [icon]="faSearch"></fa-icon>
                            </button>
                        </div>
                    </div>
                </form>
                <!--  -->


                <button type="button" class="btn btn-outline-primary pull-right mt-3 col-md-2 offset-md-10"
                    routerLink="../products/add">Add new product</button>

                <!--  -->
                <div class="row" *ngFor="let product of products">
                    <div class="card mb-3 mt-2 col-9">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <h6 style="background-color: red; color: white;font-size:25px;" class="w-50 p-2 m-3" *ngIf="product.ratioOfPromotion">{{product.ratioOfPromotion}}<fa-icon style="color:white;font-size:25px;" [icon]="faPercent"></fa-icon></h6>
                                <img [src]="product.images[0]" class="card-img m-3" alt="labtop image">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body m-1">
                                    <h5 class="card-title">{{product.title}}</h5>
                                    <li class="card-text"><small class="text-muted"><b>Brand:</b>
                                        {{product.details.brand}}</small></li>
                                    <li class="card-text"><small class="text-muted"><b>Processor:</b> 
                                        {{product.details.processor}}</small></li>
                                    <li class="card-text"><small class="text-muted"><b>Ram:</b>
                                        {{product.details.ram}}</small></li>
                                    <li class="card-text"><small class="text-muted"><b>Hard Disk:</b>
                                        {{product.details.hardDisk}}</small></li>
                                    <li class="card-text"><small class="text-muted"><b>Graphics Card</b>
                                        {{product.details.graphicsCard}}</small></li>
                                    <li class="card-text"><small class="text-muted"><b>Color</b>
                                        {{product.details.color}}</small></li>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mt-4">
                                    <h5 style="color:cornflowerblue;">{{product.price}}</h5>
                                    <h6 style="text-decoration: line-through;" class="text-muted" *ngIf="product.ratioOfPromotion">{{product.price}}</h6>
                                    <button type="button" class="btn btn-outline-info mt-5"
                                    routerLink="../products/Details"
                                    (click)="Details(product)">View Full Product Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2 mb-3 col-md-3 col-sm-6">
                        <div class="card-body row align-items-center justify-content-center">
                            <h5 class="card-title">Admin Options</h5>
                            <button type="button" class="btn btn-outline-danger m-1" data-toggle="modal"
                                data-target="#DeleteModal" (click)="Delete(product)">Delete</button>
                            <button type="button" class="btn btn-outline-success m-1"
                                (click)="Update(product)">update</button>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete item</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure do you want to delete this item {{DeleteProductItem}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="DeletedModal(DeleteProductItem)"
                                >Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>