<p>cart {{ id }} works!</p>
<h2>Shopping Cart(No.of items)</h2>
<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="row">
        <div class="card mt-3 col">
          <div class="row">
            <div class="col-3" >
              <img src="../../../assets/images/download.jfif"  class="img-fluid mt-3"/>
            </div>

            <div class="col-9">
              <div class="card-body">
                <h5 class="card-title">HP Laptop (Title)</h5>
                <div class="d-flex">
                  <div class="p-2">
                    <h6 class="card-subtitle text-primary font-weight-bold">
                      Price EGP (Price)
                    </h6>
                  </div>
                  <div class="ml-auto">
                    QTY
                    <input
                    class="card-text"
                    type="number"
                    min="1"
                    max="3"
                    value="1"
                    />
                  </div>
                </div>
                <p class="card-text">Brand: HP (Brand)</p>
                <p class="card-text">Color: Black (Color)</p>
                <p class="card-text">HardDisk: 1 Tera (HD)</p>
                
                <div class="d-flex justify-content-end">

                  <a href="#" class="btn btn-danger ">Delete</a>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="row">
        <div class="card mt-3 col">
          <div class="row">
            <div class="col-3 " >
              <img src="../../../assets/images/download.jfif" class="img-fluid mt-3"/>
            </div>

            <div class="col-9">
              <div class="card-body">
                <h5 class="card-title">HP Laptop (Title)</h5>
                <div class="d-flex">
                  <div class="p-2">
                    <h6 class="card-subtitle text-primary font-weight-bold">
                      Price EGP (Price)
                    </h6>
                  </div>
                  <div class="ml-auto">
                    QTY
                    <input
                    class="card-text"
                    type="number"
                    min="1"
                    max="3"
                    value="1"
                    />
                  </div>
                </div>
                <p class="card-text">Brand: HP (Brand)</p>
                <p class="card-text">Color: Black (Color)</p>
                <p class="card-text">HardDisk: 1 Tera (HD)</p>
                
                <div class="d-flex justify-content-end">

                  <a href="#" class="btn btn-danger ">Delete</a>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="row mt-3 ml-auto">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">Total:</p>
            <p class="card-title font-weight-bold">Total Price</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">The order arrives in 3-5 working days</li>
          </ul>
          <div class="card-body ">
              <a href="#" class="btn btn-success btn-block">Proceed To Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
