<div class="container">
    <div class="ftr-content">
        <div class="ftr-details">
            <hr>
            <img class="small-m-logo" src="assets\images\logo\logo-icon.svg" />
            <div class="ftr-small text-muted">
                CompYou is the go-to computer shop for premium laptops. We have a variety from everyday
                laptops to premium ones with a wide range of budgets to fit
                everyone. We ship to everywhere inside Egypt, and we have a refund policy to ensure the satisfaction of our customers.
                <hr>
                © All Rights Reserved 2020
            </div>
        </div>
    </div>
</div>