<ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of sliderImages; index as i">
        <div class="carousel-caption col-md-5 p-lg-5 mx-auto my-5 d-md-inline-block d-none">
            <h1 class="display-4 font-weight-normal d-lg-inline-block d-none">{{sliderTitles[i]}}</h1>
            <p class="lead font-weight-normal">{{sliderCaptions[i]}}</p>
            <a class="btn btn-primary" routerLink="../products">Shop Now</a>
        </div>
        <div class="picsum-img-wrapper">
            <img [src]="img" class="w-100">
        </div>
    </ng-template>
</ngb-carousel>

<div class="container marketing">
    <hr class="featurette-divider">
    <div *ngFor="let laptop of promotedLaptops; index as i">
        <div *ngIf="i<=1; then featurette"></div>
        <ng-template #featurette>
            <div class="row featurette">
                <div class="col-md-7" [ngClass]="{'order-md-2' : i==0}">
                    <h2 class="featurette-heading">{{laptop.title}}</h2>
                    <h3 class="text-muted old-price d-inline">{{laptop.price}} EGP</h3>
                    <h3 class="new-price text-danger d-inline"> {{laptop.price*laptop.promotionRatio}} EGP</h3>
                    <ul class="lead">
                        <li *ngFor="let key of GetKeys(laptop.details)">{{key}}: {{laptop.details[key]}}</li>
                        <!-- <li>Processor: Core i7</li>
                        <li>Graphics Card: 4 GB</li> -->
                    </ul>
                    <button type="button" class="btn btn-sm btn-primary" routerLink="../products/{{laptop._id}}">View Details</button>
                </div>
                <div class="col-md-5 vertical-center">
                    <img class="featurette-image img-fluid mx-auto vertical-center"
                    [src]="laptop.images[0]">
                </div>
            </div>
            <hr class="featurette-divider">
        </ng-template>
    </div>
    <div class="card-columns">
        <div *ngFor="let laptop of promotedLaptops; index as i">
            <div *ngIf="i>=2; then cardcolumn"></div>
            <ng-template #cardcolumn>
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" [src]="laptop.images[0]">
                    <div class="card-body">
                        <h5 class="card-title">{{laptop.title}}</h5>
                        <ul class="card-text">
                            <li *ngFor="let key of GetKeys(laptop.details)">{{key}}: {{laptop.details[key]}}</li>
                        </ul>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary" routerLink="../products/{{laptop._id}}">View Details</button>
                            </div>
                            <div>
        
                                <p class="card-text new-price text-danger">{{laptop.price*laptop.promotionRatio}} EGP</p>
                                <small class="text-muted old-price">{{laptop.price}} EGP</small>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

</div>