<!-- <body class="text-center">
    <form class="form-signin card">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </body> -->

<body>
    <form [formGroup]="loginForm" (ngSubmit)="onClickLoginSubmit()" class="form-signin card mb-4 box-shadow">
        <h1 class="h4 mb-3 font-weight-normal card-header">Please Sign In</h1>
        <div class="card-body">
            <label for="inputEmail">Email</label>
            <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Email address" required autofocus>
            <div class="small text-danger" *ngIf="!emailStatus">
                * Email is not valid.
            </div>
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password" required>
            <div class="small text-danger" *ngIf="!passwordStatus">
                * Password is not valid.
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
        <div class="card-footer text-muted">
            New Customer?
            <a [routerLinkActiveOptions]='{exact:true}' routerLinkActive='active' routerLink="../register"> Create Your
                Account</a>
            <!-- <button class="btn btn-lg btn-primary btn-block">Create Your Account</button> -->
        </div>
    </form>
</body>